circle, line {
	stroke-opacity: 1;
	stroke: var(--primary-color);
}

circle {
	fill: transparent;
	stroke-width: 1px;
}

line {
	stroke-width: 0.4px;
	stroke-linecap: round;
}

path {
	stroke-linejoin: round;
}

circle.offsetAnimation {
	transform: rotate( calc( 60deg * var(--n) ) );
	transform-box: fill-box;
	transform-origin: center center;
	stroke: hsla( calc( 60 * var(--n) ), 85%, 65%, .6);
}

.offsetAnimation {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
}

path.solid {
	stroke-width: 6px;
	fill: transparent;
	animation: fadeAnimation 2s;
	stroke: hsla( var(--solid-color), 85%, 65%, .6);
}

@keyframes fadeAnimation {
	from {opacity: 0;}
	to {opacity: 100%;}
}
