@font-face {
	font-family: PoiretOne;
	src: url(../../recursos/fonts/Poiret_One/PoiretOne-Regular.ttf);
}

:root {
	--primary-color: #F8F8F8AA;
	--background-color: #1f1f1f;
	--primary-font: 'PoiretOne';
}

#app, body, #buttonRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

body, button {
	font-family: "PoiretOne";
	color: var(--primary-color);
}

body {
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: 0;
	padding: 50px 100px;
	overflow: hidden;
	flex-direction: row;
	background-color: var(--background-color);
}

#app {
	flex-direction: column;
	width: 100%;
}

h1 {
	text-align: center;
	font-size: 2.5em;
	margin: 0;
}

#wrapper {
	margin: 25px auto;
	width: 90%;
	position: relative;
	max-width: max-content;
}

#wrapper > svg.responsive {
	z-index: 2;
	max-width: 100%;
	position: relative;
}

#wrapper > canvas {
	display: block;
	position: absolute;
	top: 0; left: 0;
	z-index: 3;
	max-width: 100%;
	opacity: .5;
}

#buttonRow > button {
	margin: 0 15px;
	background-color: transparent;
	border-radius: 0;
	border: 2px solid hsla( var(--solid-color), 85%, 65%, .4 );
	padding: 10px 20px;
	font-size: 1.25em;
	border-left: none;
	border-right: none;
	border-radius: 2px;
}

#buttonRow > button:hover {
	border-color: hsla( var(--solid-color), 85%, 65%, .8 );
}
