/*╔════════════════════════════════════════════════════════════════════╗
  ║                                                                    ║
  ║      Full d'estils per la maquetació dels documents by Maria       ║
  ║                                                                    ║
  ╚════════════════════════════════════════════════════════════════════╝*/



/*┌────────────────────────────────┐
  │        Carrega d'Assets        │
  └────────────────────────────────┘*/

  @font-face {font-family: 'text'; src: url('../typo/Lato/Lato-Regular.ttf');}
  @font-face {font-family: 'mono'; src: url('../typo/Anonymous_Pro/AnonymousPro-Regular.ttf');}
  @font-face {font-family: 'hand'; src: url('https://fonts.googleapis.com/css?family=Kalam&display=swap');}
  
  p, h1, h2, h3, h4, h5, h6, li, div {
	  font-family: "text", "Lato", "Segoe UI", Arial, Helvetica, sans-serif;
  }
  
  
  
  /*┌────────────────────────────────┐
	│    Disposició de la pàgina     │
	└────────────────────────────────┘*/
  
  body {
	  margin: 50px auto;
	  color: #070707;
  }
  
  body, div.layoutElement {
	  background-color: #f8f8f8;
  }
  
  .page {
	  width: 210mm; height: 297mm;
	  padding: 25mm;
	  display: block;
  }
  
  div.layoutElement {
	  position: fixed;
	  display: block;
	  width: 210mm;
	  padding: 10mm 0 1mm;
	  height: 20mm;
  }
  
  div.layoutElement.footer {bottom: 0;}
  div.layoutElement.header {top: 0;}
  
  
  
  /*┌────────────────────────────────┐
	│   Jererquia de encapçalaments  │
	└────────────────────────────────┘*/
  
  h1 {
	  font-size: 3.3em;
	  font-weight: 200;
	  text-transform: uppercase;
	  text-align: center;
  }
  h2 {
	  font-size: 2em;
	  font-weight: 400;
	  text-transform: uppercase;
  }
  h3 {
	  font-size: 1.5em;
	  font-weight: 400;
	  text-transform: uppercase;
  }
  h4 {
	  font-size: 1em;
	  font-weight: 700;
	  text-transform: uppercase;
  }
  h5 {
	  font-size: 1em;
	  font-weight: 700;
  }
  
  
  
  /*┌────────────────────────────────┐
	│  Modificació d'elements bàsics │
	└────────────────────────────────┘*/
  
  blockquote {
	  font-style: italic;
	  margin-left: 20mm;
	  color: #444444;
  }
  cite {
	  font-size: 0.8em;
	  margin-left: 20mm;
	  font-style: normal;
	  font-weight: 700;
	  display: block;
	  font-variant: small-caps;
  }
  ul>li::marker {
	  content: '\2013\00A0';
  }
  ol>li::marker {
	  font-weight: bold;
  }
  ul {
	  margin-top: 5px;
  } li {
	  margin-bottom: 5px;
  }
  img {
	  margin: 1em auto;
	  display: block;
	  max-width: 100%;
  } img + cite, .geDiagramContainer + cite {
	  text-align: center;
	  margin: 0;
  }
  xmp, code, pre code {
	  font-family: "mono", monospace;
	  background-color: #f4f4f4;
	  border-radius:0.5em;
  }
  xmp, pre code {
	  padding: 0.2em 2em 0.8em;
  }
  table {
	  border-collapse: collapse;
	  width: 100%;
	  margin-bottom: 1rem;
	  color: #212529;
  }   table td, table th {
		  padding: .75rem;
		  vertical-align: top;
		  border-top: 1px solid #dee2e6;
  }   table td, table th {
		  padding: .75rem;
		  vertical-align: top;
		  border-top: 1px solid #dee2e6;
  }   table thead {
		  vertical-align: bottom;
		  font-weight: bold;
		  border-bottom: 2px solid #dee2e6;
  }   th, td {
		  text-align: inherit;
  }
  
  table th img {
	  width: 80%;
  }
  table th:has(img) {
	  border: none;
  }
  
  math {
	  font-family: "math", serif;
	  /*font-style: italic;*/
  }
  
  kbd {
	  font-family: Consolas, "Lucida Console", monospace;
	  border-radius: 3px;
	  padding: 0px 4px;
	  box-shadow: 1px 1px 1px #777;
	  margin: 2px;
	  font-size: small;
	  vertical-align: text-bottom;
	  background:    #eee;
	  color: #555;
	  font-weight: 600;
	  letter-spacing: 0.5px;
	  letter-spacing: 1px;
  }
  
  
  /*┌────────────────────────────────┐
	│       Elements by Maria        │
	└────────────────────────────────┘*/
  
  .caixa {
	  padding: 3mm;
	  margin: 2mm;
	  margin-left: 20mm;
	  border-left: 2.5px solid 
  }
  .caixa.destacat {
	  border-color: #ffb300
  } .caixa.exemple {
	  border-color: #ff9900
  } .caixa.exercici {
	  border-color: #ff9900
  } .caixa.info {
	  border-color: #00aaff;
  } .caixa.consell {
	  border-color: #63ce00;
  } .caixa.advertencia {
	  border-color: #bd0000;
  } .caixa.recurs {
	  border-color: #ca5efc;
  }
  .caixa.destacat strong, .caixa.destacat h2, .caixa.destacat h3, .caixa.destacat h4, .caixa.destacat li::marker { color: #ffb300} 
  .caixa.exemple strong, .caixa.exemple h2, .caixa.exemple h3, .caixa.exemple h4, .caixa.exemple li::marker { color: #ff9900}
  .caixa.exercici strong, .caixa.exercici h2, .caixa.exercici h3, .caixa.exercici h4, .caixa.exercici li::marker { color: #ff9900}
  .caixa.info strong, .caixa.info h2, .caixa.info h3, .caixa.info h4, .caixa.info ol>li::marker { color: #00aaff;}
  .caixa.consell strong, .caixa.consell h2, .caixa.consell h3, .caixa.consell h4, .caixa.consell li::marker { color: #63ce00;}
  .caixa.advertencia strong, .caixa.advertencia h2, .caixa.advertencia h3, .caixa.advertencia h4, .caixa.advertencia li::marker { color: #bd0000;}
  .caixa.recurs strong, .caixa.recurs h2, .caixa.recurs h3, .caixa.recurs h4, .caixa.recurs li::marker { color: #ca5efc;}
  
  div.taulaVeritat+table {
	  text-align: center;
	  width: max-content;
	  margin: 0 auto;
  } div.taulaVeritat+table td:last-child {
	  border-left: 2px solid #dee2e6;
  }
  
  div.taulaComptabilitat+table {
	  width: max-content;
	  margin: 0 auto;
  }   div.taulaComptabilitat+table th {
		  text-align: center;
		  border-top: none;
		  border-bottom: 1px solid #111;
  }       div.taulaComptabilitat+table th:nth-child(3) {
			  border-bottom: none;
  }   div.taulaComptabilitat+table td {
		  border-top: none;
  }   div.taulaComptabilitat+table td:nth-child(1), div.taulaComptabilitat+table td:nth-child(5) {
		  text-align: end;
  }       div.taulaComptabilitat+table td:nth-child(1)::after, div.taulaComptabilitat+table td:nth-child(5)::after {
			  content: ' €';
  }   div.taulaComptabilitat+table td:nth-child(3) {
		  padding-top: 30px;
		  font-style: italic;
  }
  
  div.geDiagramContainer, iframe {
	  margin: 0 auto;
  }
  
  iframe {
	  display:block;
  }
  
  .notaMaria {
	  color: #0080ff;
	  font-family:"Segoe Print"
  }
  
  
  
  /*┌────────────────────────────────┐
	│           Imprimible           │
	└────────────────────────────────┘*/
  
  @media print {
	  p {
		  text-align: justify;
		  text-justify: inter-word;
	  }
	  body, div.layoutElement {
		  background-color: #fff;
		  color: #000;
	  }
	  xmp, code, pre code {
		  background-color: #f8f8f8;
	  }
	  h1, h2, h3, h4, h5 {
		  page-break-after: avoid;
	  }
	  table, figure, p, img, code, div.geDiagramContainer, div.caixa, ul {/*UL???*/
		  page-break-inside: avoid;
	  }
  }
  
  
  @page {
	  size: A4;
	  margin: 20mm;
  
	  @top-left {
		  content: "[assignatura]";
	  }
  
	  @top-center {
		  content: "[nota]";
	  }
  
	  @top-right {
		  content: "Maria Güell";
	  }
  
	  @bottom-left {
		  content: "Pàgina " counter(page) " de " counter(pages);
		  /*border-top: 1pt solid #444;*/
	  }
  
	  @bottom-right {
		  content: "[data]";
		  /*border-top: 1pt solid #444;*/
	  }
  }
  
  /*@page :first {
	  ...
  }*/
  