@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Sorts+Mill+Goudy&display=swap');

body {
	font-family: 'Sorts Mill Goudy', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}



::marker {
	font-weight: bold;
}

ul > li::marker {
	content: "⎯ ";
}



h1 {
	text-align: center;
	font-size: 2.5em;
	font-weight: 300;
	text-transform: uppercase;
	font-variant: small-caps;
}

h2 {
	margin-top: 2em;
}

h3 {
	margin-top: 1.5em;
}



img {
	display: block;
	margin: 0 auto;
	max-width: 90%;
}

img + cite {
	text-align: center;
	margin-top: 5px;
	font-size: .9em;
	font-style: normal;
}



table {
	border-collapse: collapse;
}
td, th {
	padding: 10px 15px;
}
thead {
	border-bottom: 2px solid var(--ink-color);
}
tr {
	border-bottom: 1px solid var(--ink-color);
}



cite {
	display: block;
	text-align: right;
}
