:root {
	--ink-color: #070707;
	--paper-color: #F8F8F8;
}

body {
	width: 210mm; height: 297mm;
	padding: 25mm;
	color: var(--ink-color);
	background-color: var(--paper-color);
	margin: 0 auto;
	display: block;
}

@page {
	size: A4;
	margin: 20mm;

	@top-left {
		content: "[assignatura]";
	}
	@top-center {
		content: "[nota]";
	}
	@top-right {
		content: "Maria Güell";
	}
	@bottom-left {
		content: "Pàgina " counter(page) " de " counter(pages);
		/*border-top: 1pt solid #444;*/
	}
	@bottom-right {
		content: "[data]";
		/*border-top: 1pt solid #444;*/
	}
}
  
/*@page :first {
	...
}*/


@media print {
	p {
		text-align: justify;
		text-justify: inter-word;
	}
	body {
		background-color: #FFF;
		color: #000;
	}
	xmp, code, pre code {
		background-color: var(--paper-color);
	}
	h1, h2, h3, h4, h5 {
		page-break-after: avoid;
	}
	table, figure, p, img, code, div.geDiagramContainer, div.caixa, ul {
		page-break-inside: avoid;
	}
}
