@font-face {
	font-family: Raleway;
	src: url(../../recursos/fonts/Raleway/Raleway-Regular.ttf);
}

body, button {
	font-size: 14pt;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
	color: #CCCCCC;
}

body {
	margin: 0;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	overflow: hidden;
}

canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#solidSelector {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: max-content;
	text-align: center;
	z-index: 2;
}

#solidSelector>button {
	padding: 10px 25px;
	margin: 10px 5px;
	border: 1px solid #EEE;
	background-color: #FFF0;
	border-left: none;
	border-right: none;
}

#solidSelector>button:hover {
	border-color: #000000 !important;
}



@media (max-width: 1000px) {
	#solidSelector {
		width: 95%;
	}
	#solidSelector>button {
		font-size: 12pt;
		padding: 5px 10px;
		margin: 10px 2px;
	}
}