#title {
    position: absolute;
    width: 100%;
}
#controllersContainer {
    display: flex;
    position: absolute;
    align-items: stretch;
    flex-direction: row;
    padding: 50px;
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    /*background-color: #ff02;/*DEBUG*/
}
#layersSidebar, #toolSidebar {
    flex: 1;
    /*background-color: #f0f2;/*DEBUG*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
#layersContainer {
    margin: 10px 0;
    flex: 2;
    /*background-color: #f002;/*DEBUG*/
}
#optionsContainer {
    flex: 1;
    /*background-color: #f002;/*DEBUG*/
}
#canvas {
    flex: 3;
    /*background-color: #0ff2;/*DEBUG*/
}
#layerPropertiesContainer, #objectPropertiesContainer {
    flex: 4;
    /*background-color: #f002;/*DEBUG*/
}
#layerButton, #propertiesButton {
    display: none;
}

/* Scroll bar */

.scroll {
    /*height: 10vh;*/
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 10px 0;
}
.scroll::-webkit-scrollbar {
    width: 10px;
}
.scroll::-webkit-scrollbar-track {
    border: none;
    background-color: #fff0;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #fff0;
    border-right: 1px solid #f8f8f8;
    outline: none;
}

/* ... */

@media only screen and (max-width: 750px) {
    #layersSidebar, #toolSidebar {
        display: none;
        background-color: #1f1f1f;
    }
    #layerButton, #propertiesButton {
        display: block;
        position: absolute;
        width: 100px;
        top: 50px;
    }
    #layerButton {
        left: 25px;
    }
    #propertiesButton {
        right: 25px;
    }
}